version: '3.8'

services:
  servidor-casino:
    # Construye la imagen usando el Dockerfile de la carpeta actual
    build: . 
    
    # Nombre amigable para identificar el contenedor
    container_name: servidor-casino-v1
    
    # POLÍTICA DE REINICIO:
    # "unless-stopped": Se reinicia siempre (error, reboot del PC),
    # a menos que tú ejecutes "docker-compose down" explícitamente.
    restart: unless-stopped
    

